[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
bn = "*"
pylint-django = "*"
"path.py" = "*"
pymysql = "*"
django-jazzmin = "*"

[dev-packages]
pylint = "*"
autopep8 = "*"

[requires]
python_version = "3.11"
